@model IEnumerable<WorkoutGenerator.Models.Workout>

<h1>Workouts</h1>

<ul>
    @foreach (var workout in Model)
    {
        <li>
            <a asp-controller="Workout"
               asp-action="ViewWorkout"
               asp-route-id="@workout.ID">@workout.Name</a>
        </li>
    }
</ul>


<p><a asp-controller="Workout" asp-action="Add">Add Workout</a></p>

