@model List<WorkoutGenerator.Models.Exercise>
<div class="container">
    <h1>@ViewBag.Title</h1>

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Created</th>

        </tr>

        @foreach (var exercise in Model)
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.Description</td>
                <td>@exercise.DateCreated</td>

            </tr>
        }
    </table>

    @if (Model.Count == 0)
    {
        <p>No exercises yet!</p>
    }

    <span><a asp-controller="Exercise" asp-action="Add">Add</a></span><span> |</span>
    <span><a asp-controller="Exercise" asp-action="Remove">Remove</a></span>
</div>