@model WorkoutGenerator.ViewModels.ViewRecordViewModel
<div class="container">
    <h2>@Model.Workout.Name</h2>
    <ul>
        @foreach (var exercise in Model.Exercises)
        {
            <li>
                <a asp-controller="Record"
                   asp-action="ViewRecords"
                   asp-route-ExerciseID="@exercise.ExerciseID"
                   asp-route-WorkoutID="@Model.Workout.WorkoutID">@exercise.Name</a>
            </li>
        }
    </ul>
</div>