@model WorkoutGenerator.ViewModels.ViewRecordViewModel

<h3>@Model.Exercise.Name</h3>

<ul>
    @foreach (var record in Model.Records)
    {
        <li>@record.Sets</li>
        <li>@record.Reps</li>
        <li>@record.Weight</li>
    }
</ul>

@if (Model.Records.Count == 0)
{
    <p><i>No Records</i></p>
}
<!--Organize Records to be more than just a list of all numbers-->